@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gray-800 text-gray-100 font-sans;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .gradient-text {
    @apply bg-gradient-to-r from-rose-200 to-rose-100 bg-clip-text text-transparent;
  }
}
